@using Microsoft.AspNetCore.Identity
@using MyAquariumManager.Core.Entities

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    ViewData["Title"] = "My Aquarium Manager";
}

<div class="text-center">
    <h3>@UserManager.GetUserName(User), Bem Vindo ao MY AQUARIUM MANAGER</h3>
    <h5>Faça o gerenciamento dos seus tanques.</h5>
</div>
