@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de troca de senha";
}
<p>
    A sua senha foi alterada. Por favor <a asp-page="./Login">clique aqui para entrar.</a>.
</p>
