@model MyAquariumManager.Web.Models.Animal.EditarViewModel;
@using MyAquariumManager.Core.Enums;

@{
    ViewData["Title"] = "Editar Animal";
}

<div class="mt-3 mb-3">
    <h4>EDITAR ANIMAL</h4>
</div>

<div class="container mt-3"></div>


<div class="row">
    <div class="container d-flex justify-content-end">
        <a asp-action="Index" class="btn btn-outline-dark d-flex justify-content-center align-items-center mx-3">Voltar</a>
    </div>
</div>

